.company-app {
    display: flex;
    flex-grow: 1;

    .sidebar-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 85px;
        background-color: #df1995;
        a{
            padding: 10px;
            width: 60px;
            height: 60px;
            margin: 10px 0;
            &.router-link-exact-active {
                background-color: rgba(255,255,255,.3);
                position: relative;
                div {
                    cursor:default;
                    position: absolute;
                    right: -12px;
                    top: 22px;
                    border-top: 8px solid transparent;
                    border-right: 6px solid white;
                    border-bottom: 8px solid transparent;
                    height: 0;
                    width: 0;
                }
            }
        }
    }
}